@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");
/* Modal Header */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.678);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* Modal Content */
.modalContent {
  position: relative;
  background-color: black;
  color: lime;
  margin: auto;
  padding: 20px;
  border: 3px solid lime;
  border-radius: 20px;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}
.modalHeader {
  background-color: black;
  color: lime;
  padding: 2px 16px;
  margin: 0px;
}

/* Modal Body */
.modalBody {
  padding: 2px 16px;
  color: lime;
}

/* Modal Footer */
.modalFooter {
  display: flex;
  justify-content: end;
  padding: 2px 16px;
  color: lime;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
